USE [master]
GO
/****** Object:  Database [MABS]    Script Date: 6/22/2026 10:17:45 PM ******/
CREATE DATABASE [MABS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MABS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MABS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MABS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MABS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MABS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MABS]
GO
/****** Object:  Table [dbo].[account_status_log]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_status_log](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[changed_by] [uniqueidentifier] NOT NULL,
	[action] [varchar](20) NOT NULL,
	[reason] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment](
	[id] [uniqueidentifier] NOT NULL,
	[patient_id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[schedule_id] [uniqueidentifier] NOT NULL,
	[appointment_time] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[reason] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[specialty_id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](100) NULL,
	[bio] [nvarchar](max) NULL,
	[rating_avg] [decimal](3, 2) NOT NULL,
	[experience_years] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_record]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_record](
	[id] [uniqueidentifier] NOT NULL,
	[appointment_id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[patient_id] [uniqueidentifier] NOT NULL,
	[diagnosis] [nvarchar](max) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[visit_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[unit] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[type] [varchar](30) NOT NULL,
	[message] [nvarchar](500) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription](
	[id] [uniqueidentifier] NOT NULL,
	[medical_record_id] [uniqueidentifier] NOT NULL,
	[medicine_id] [uniqueidentifier] NOT NULL,
	[dosage] [nvarchar](100) NOT NULL,
	[frequency] [nvarchar](100) NOT NULL,
	[duration_days] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[id] [uniqueidentifier] NOT NULL,
	[patient_id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialty]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialty](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_result]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_result](
	[id] [uniqueidentifier] NOT NULL,
	[appointment_id] [uniqueidentifier] NOT NULL,
	[file_url] [varchar](500) NOT NULL,
	[file_type] [varchar](20) NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [uniqueidentifier] NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](20) NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[date_of_birth] [date] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[working_schedule]    Script Date: 6/22/2026 10:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[working_schedule](
	[id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[work_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ix_appointment_doctor_time]    Script Date: 6/22/2026 10:17:48 PM ******/
CREATE NONCLUSTERED INDEX [ix_appointment_doctor_time] ON [dbo].[appointment]
(
	[doctor_id] ASC,
	[appointment_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_appointment_patient]    Script Date: 6/22/2026 10:17:48 PM ******/
CREATE NONCLUSTERED INDEX [ix_appointment_patient] ON [dbo].[appointment]
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__doctor__B9BE370E7A7A8DE1]    Script Date: 6/22/2026 10:17:48 PM ******/
ALTER TABLE [dbo].[doctor] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_doctor_specialty]    Script Date: 6/22/2026 10:17:48 PM ******/
CREATE NONCLUSTERED INDEX [ix_doctor_specialty] ON [dbo].[doctor]
(
	[specialty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__medical___A50828FD8DCA3515]    Script Date: 6/22/2026 10:17:48 PM ******/
ALTER TABLE [dbo].[medical_record] ADD UNIQUE NONCLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_notification_user_read]    Script Date: 6/22/2026 10:17:48 PM ******/
CREATE NONCLUSTERED INDEX [ix_notification_user_read] ON [dbo].[notification]
(
	[user_id] ASC,
	[is_read] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__specialt__72E12F1BCA69282F]    Script Date: 6/22/2026 10:17:48 PM ******/
ALTER TABLE [dbo].[specialty] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__AB6E6164BFD925C0]    Script Date: 6/22/2026 10:17:48 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_schedule_doctor_date]    Script Date: 6/22/2026 10:17:48 PM ******/
CREATE NONCLUSTERED INDEX [ix_schedule_doctor_date] ON [dbo].[working_schedule]
(
	[doctor_id] ASC,
	[work_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account_status_log] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[account_status_log] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[appointment] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[appointment] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[appointment] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[doctor] ADD  DEFAULT ((0)) FOR [rating_avg]
GO
ALTER TABLE [dbo].[doctor] ADD  DEFAULT ((0)) FOR [experience_years]
GO
ALTER TABLE [dbo].[medical_record] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[medical_record] ADD  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [visit_date]
GO
ALTER TABLE [dbo].[medicine] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[prescription] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[prescription] ADD  DEFAULT ((1)) FOR [duration_days]
GO
ALTER TABLE [dbo].[review] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[review] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[specialty] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[test_result] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[test_result] ADD  DEFAULT (sysutcdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[working_schedule] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[working_schedule] ADD  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [dbo].[account_status_log]  WITH CHECK ADD  CONSTRAINT [fk_statuslog_changedby] FOREIGN KEY([changed_by])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[account_status_log] CHECK CONSTRAINT [fk_statuslog_changedby]
GO
ALTER TABLE [dbo].[account_status_log]  WITH CHECK ADD  CONSTRAINT [fk_statuslog_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[account_status_log] CHECK CONSTRAINT [fk_statuslog_user]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD  CONSTRAINT [fk_appointment_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctor] ([id])
GO
ALTER TABLE [dbo].[appointment] CHECK CONSTRAINT [fk_appointment_doctor]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD  CONSTRAINT [fk_appointment_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[appointment] CHECK CONSTRAINT [fk_appointment_patient]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD  CONSTRAINT [fk_appointment_schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[working_schedule] ([id])
GO
ALTER TABLE [dbo].[appointment] CHECK CONSTRAINT [fk_appointment_schedule]
GO
ALTER TABLE [dbo].[doctor]  WITH CHECK ADD  CONSTRAINT [fk_doctor_specialty] FOREIGN KEY([specialty_id])
REFERENCES [dbo].[specialty] ([id])
GO
ALTER TABLE [dbo].[doctor] CHECK CONSTRAINT [fk_doctor_specialty]
GO
ALTER TABLE [dbo].[doctor]  WITH CHECK ADD  CONSTRAINT [fk_doctor_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor] CHECK CONSTRAINT [fk_doctor_user]
GO
ALTER TABLE [dbo].[medical_record]  WITH CHECK ADD  CONSTRAINT [fk_record_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointment] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[medical_record] CHECK CONSTRAINT [fk_record_appointment]
GO
ALTER TABLE [dbo].[medical_record]  WITH CHECK ADD  CONSTRAINT [fk_record_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctor] ([id])
GO
ALTER TABLE [dbo].[medical_record] CHECK CONSTRAINT [fk_record_doctor]
GO
ALTER TABLE [dbo].[medical_record]  WITH CHECK ADD  CONSTRAINT [fk_record_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[medical_record] CHECK CONSTRAINT [fk_record_patient]
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD  CONSTRAINT [fk_notification_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notification] CHECK CONSTRAINT [fk_notification_user]
GO
ALTER TABLE [dbo].[prescription]  WITH CHECK ADD  CONSTRAINT [fk_prescription_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicine] ([id])
GO
ALTER TABLE [dbo].[prescription] CHECK CONSTRAINT [fk_prescription_medicine]
GO
ALTER TABLE [dbo].[prescription]  WITH CHECK ADD  CONSTRAINT [fk_prescription_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_record] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[prescription] CHECK CONSTRAINT [fk_prescription_record]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [fk_review_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctor] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [fk_review_doctor]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [fk_review_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [fk_review_patient]
GO
ALTER TABLE [dbo].[test_result]  WITH CHECK ADD  CONSTRAINT [fk_testresult_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointment] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[test_result] CHECK CONSTRAINT [fk_testresult_appointment]
GO
ALTER TABLE [dbo].[working_schedule]  WITH CHECK ADD  CONSTRAINT [fk_schedule_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctor] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[working_schedule] CHECK CONSTRAINT [fk_schedule_doctor]
GO
ALTER TABLE [dbo].[account_status_log]  WITH CHECK ADD  CONSTRAINT [ck_statuslog_action] CHECK  (([action]='activate' OR [action]='deactivate' OR [action]='unlock' OR [action]='lock'))
GO
ALTER TABLE [dbo].[account_status_log] CHECK CONSTRAINT [ck_statuslog_action]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD  CONSTRAINT [ck_appointment_status] CHECK  (([status]='completed' OR [status]='cancelled' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[appointment] CHECK CONSTRAINT [ck_appointment_status]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [ck_review_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [ck_review_rating]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [ck_user_role] CHECK  (([role]='admin' OR [role]='doctor' OR [role]='patient'))
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [ck_user_role]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [ck_user_status] CHECK  (([status]='inactive' OR [status]='locked' OR [status]='active'))
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [ck_user_status]
GO
ALTER TABLE [dbo].[working_schedule]  WITH CHECK ADD  CONSTRAINT [ck_schedule_status] CHECK  (([status]='cancelled' OR [status]='full' OR [status]='open'))
GO
ALTER TABLE [dbo].[working_schedule] CHECK CONSTRAINT [ck_schedule_status]
GO
ALTER TABLE [dbo].[working_schedule]  WITH CHECK ADD  CONSTRAINT [ck_schedule_time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[working_schedule] CHECK CONSTRAINT [ck_schedule_time]
GO
USE [master]
GO
