<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Quản lý bác sĩ</title>
</head>
<body>
    <div layout:fragment="content">
        <button><a th:href="@{/admin/doctors/add}">Add doctor</a></button>
        <table>
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Specialty</th>
                <th>Title</th>
                <th>Bio</th>
                <th>Consultation fee</th>
                <th>Years of experience</th>
                <th>Edit</th>
            </thead>
            <tbody>
                <tr th:each="doctor : ${doctorList}">
                    <td th:text="${doctor.id}"></td>
                    <td th:text="${doctor.user.fullName}"></td>
                    <td th:text="${doctor.specialty.name}"></td>
                    <td th:text="${doctor.title}"></td>
                    <td th:text="${doctor.bio}"></td>
                    <td th:text="${doctor.consultationFee}"></td>
                    <td th:text="${doctor.experienceYears}"></td>
                    <td><a th:href="@{/admin/doctors/update/{id}(id = ${doctor.id})}">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
