<footer th:fragment="footer" class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>MABS Medical</h5>
                <p>Hệ thống đặt lịch khám bệnh trực tuyến uy tín hàng đầu.</p>
            </div>
            <div class="col-md-4">
                <h5>Liên kết nhanh</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white text-decoration-none">Trang chủ</a></li>
                    <li><a href="/specialties" class="text-white text-decoration-none">Chuyên khoa</a></li>
                    <li><a href="/about" class="text-white text-decoration-none">Giới thiệu</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Liên hệ</h5>
                <p>Hotline: 1900 1234<br>Email: support@mabs.vn</p>
            </div>
        </div>
        <hr>
        <div class="text-center">&copy; 2026 MABS.</div>
    </div>
</footer>