<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Danh sach chuyen khoa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div layout:fragment="content">
        <button><a th:href="@{/specialties/add}">Add specialty</a></button>
        <table>
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
            </thead>
            <tbody>
                <tr th:each="specialty : ${specialtyList}">
                    <td th:text="${specialty.id}"></td>
                    <td th:text="${specialty.name}"></td>
                    <td th:text="${specialty.description}"></td>
                    <td><a th:href="@{/specialties/update/{id}(id = ${specialty.id})}">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="" async defer></script>
</body>

</html>