<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tạo chuyên khoa mới</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div layout:fragment="content" class="container py-5">
        <div class="card col-md-8 mx-auto p-4">
            <form th:action="@{/specialties/add}" th:object="${dto}" method="post">
                <div class="mb-3">
                    <label>Name</label>
                    <input type="text" th:field="*{name}" class="form-control">
                    <p class="text-danger small mt-1 mb-0" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="mb-3">
                    <label>Description</label>
                    <input type="text" th:field="*{description}" class="form-control">
                    <p class="text-danger small mt-1 mb-0" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>